.header {
  padding: 200px;
  text-align: center;
  background-image: url('../../public/old_movie_poster_banner\ \(1\).jpg');
  background-repeat: no-repeat;
  margin-left: 88px;
  margin-top: 73px;
  color: white;
  font-size: 30px;
  position: relative;
  overflow: hidden;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.carousel img.active {
  opacity: 1;
}

  