@font-face {
    font-family: Morden;
    src: url('../../public/fonts/Morden.woff') format('woff');
}


.heading h1{
    font-size: 40px;
  font-weight: 600;
  /* background-image: linear-gradient(to left, #553c9a, #b393d3); */
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: 'Morden', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .movie {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
  .description {
    margin-top: auto;
  }
  
  .video {
    width: 100%;
    height: 300px;
  }

  .imageContainer {
    position: relative;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
  
  .overlayContent {
    text-align: center;
    color: #fff;
  }

  .overlayContent p {
    font-size: 14px;
    color: #888;
  }
  
  .imageContainer:hover .overlay {
    opacity: 1;
  }

  .movie.hovered .overlay {
    opacity: 1;
  }
  
  .overlay {
    /* Your existing overlay styles */
    opacity: 0;
  }

  .logoButton:hover {
    background-color: #717274c0;
  }

  .logo{
    width: 20px;
    height: 20px;
  }

  .logoButton {
    font-size: 10px;
    color: #fff;
    background-color: #f7efdc;
    border: #fff;
    padding: 5px 10px;
    cursor: pointer;
    width: 50px;
  }
  
  
  


  